@media all
{
  div#col3_content h2 {
    margin-bottom: 1.5em;
  }

  div.subcl.box {
    margin-right: 10px;
  }

  div.subcr.box {
    margin-left: 10px;
  }

  div.box h3,
  div.box h3 {
    width:auto;
    margin-top: -1em;
    background: white;
    width:30%;
    white-space: nowrap;
  }


  div.box {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:#fff;
    border:2px solid #d9d9d9;
    padding: 5px;
    margin: 20px 0;
  }

  div.flash-notice {
    margin:0 0 15px 0;
    padding:1em;
    border:1px solid #d4d4d4;
    background: #fffddc;
  }

  div.flash-error {
    margin:0 0 15px 0;
    padding:1em;
    border:1px
    solid #be381d;
    background: #efefef;
    color:#be381d;
  }

  div#error_explanation {
    margin:0 0 15px 0;
    padding:1em;
    border:1px solid #be381d;
    background: #fff;
    color:#be381d;
  }

  div#error_explanation h2 {
    margin:0 0 15px 0;
    padding:2px 0 2px 30px;
    background: #fff;
    color:#be381d;
  }

  div#error_explanation p,
  div#error_explanation ul {
    margin:0 0 10px 0;
    padding:2px 0 2px 30px;
    color:#be381d;
  }

}
