<h2>Your status page</h2>

<div class="box">
  <h3>About you</h3>
  <% if @user_info %>
    USER INFO HERE
    GOOGLE MAPS LINK HERE
  <% else %>
    ERROR: No user information
  <% end %>
</div>

<div class="subcolumns">
  <div class="c50l">
    <div class="subcl box">
      <h3>Your Notifications</h3>
      <% if @notifications %>
        NOTIFICATIONS HERE
      <% else %>
        No notifications currently
      <% end %>
    </div>
  </div>

  <div class="c50r">
    <div class="subcr box">
      <h3>Your Calendars</h3>
      <% if @calendars %>
        USER CALENDARS
      <% else %>
        You currently don't have any calendars
      <% end %>
    </div>
  </div>
</div>

<div class="subcolumns">
  <div class="c50l">
    <div class="subcl box">
      <h3>Friend Requests Sent</h3>
      <% if @friend_requests_sent %>
        RCD_SENT HERE
      <% else %>
        No open friend requests originated by you
      <% end %>
    </div>
  </div>

  <div class="c50r">
    <div class="subcr box">
      <h3>Friend Requests Received</h3>
      <% if @friend_requests_received %>
        RCD_RECEIVED HERE
      <% else %>
        No open friend requests for you
      <% end %>
    </div>
  </div>
</div>



