<p>
  <b>Name:</b>
  <%= @calendar.name %>
</p>

<p>
  <% if @calendar.conferences.any? %>
    <b>Added conferences:</b>
    <ul>
      <% @calendar.conferences.each do |conference| %>
        <li>
          <%= link_to conference.name, conference %>
        </li>
      <% end %>
    </ul>
  <% else %>
    You've added no conferences yet.
  <% end %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
